.App {
  font-family: "Tenor+Sans", bold;
  max-width: 600px;
  margin: 0 auto;
  border: 1px #f4b2f3;
  border-radius: 4px;
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
}
