.WeatherData h1 {
  font-family: "Great Vibes", cursive;
  padding-left: 12px;
  margin-top: 5px;
  color: white;
}
.WeatherData ul {
  padding-left: 16px;
}
.WeatherData li {
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
}
.Weather .btn {
  font-weight: bolder;
  background-color: #dbd3f9;
  color: white;
  border: 2px #f4b2f3;
}

.Weather .form-control {
  font-weight: bolder;
  background-color: #dbd3f9;
  color: white;
  border: 2px #f4b2f3;
}

.Weather ::placeholder {
  color: white;
}

.Footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 5px;
}

canvas {
  display: inline-block;
  margin-right: 10px;
}

.temperature {
  font-size: 64px;
  line-height: 64px;
  color: white;
}

.unit {
  position: relative;
  top: -30px;
  color: white;
}

a:hover {
  color: rgb(59, 22, 94);
  margin: 5px;
}

form {
  padding: 10px;
}

footer {
  font-size: 12px;
}
