.WeatherData h1 {
  font-family: "Great Vibes", cursive;
  padding-left: 20px;
  margin-top: 5px;
  color: white;
}
.WeatherData ul {
  padding-left: 24px;
}
.WeatherData li {
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
}
.Weather .btn {
  font-weight: bolder;
  background-color: #dbd3f9;
  color: white;
  border: 2px #f4b2f3;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.Weather .btn:hover {
  color: #bff3fd;
}

.Weather .form-control {
  font-weight: bolder;
  background-color: #dbd3f9;
  color: white;
  border: 2px #f4b2f3;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.3);
}

.Weather ::placeholder {
  color: white;
  opacity: 0.6;
}

.Footer a {
  color: #ee89ed;
  text-decoration: none;
  margin: 5px;
}

.Weather canvas {
  display: inline-block;
  margin-right: 10px;
  padding-left: 20px;
}

.temperature {
  font-size: 64px;
  line-height: 64px;
  color: white;
}

.unit {
  position: relative;
  top: -30px;
  color: white;
}

.Weather form {
  padding: 10px;
}

.Footer {
  padding: 10px;
  opacity: 0.8;
  font-size: 12px;
}

a:hover {
  color: white;
}
